*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 10vh;
    padding: 5%;
    background-size: cover;
    display: flex;
    align-items: top;
    justify-content: center;
    background: white;
    
}
.search-bar{
    width: 50%;
    max-width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    background:white;
    border-radius: 60px;
    border: 1px solid;
    padding: 10px 20px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #1f14ec;

}
 .search-bar button img {
    width: 25px;
    
 }
 .search-bar button img{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 30px;
    cursor: pointer;
 }

 .container2{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    /* align-items: center; */
    justify-content: space-between;
    
 }
 .con-item{
   width: 30%;
   margin-bottom: 20px;
   /* padding: 20px; */

 }
 .pht{
    width: 100%;
    flex-direction:column;
    height: 200px;
   
 }
 nav{
   display: flex;
   padding: 10px;
 }
 .ai{
   width: 40px;   
    height: 40px; 
    background: lightblue; 
    border-radius: 50%;
    padding: 8px; 
    border: 0;
    
 }
 .name{
   padding: 8px;
   width: 100%;
   border-bottom: 0px solid;
 }
.other{
   border-radius: 30px;
   height: 33px;
   width: auto;
   margin-right: 40px;
   background: rgb(196, 189, 184);
   border: none;
}
#a{width: 220px;}
 #b{width: 70px;}
 #c{width: 150px;}
 #d{width: 140px;}
 #e{width: 60px;}
 #f{width: 60px;}
 #g{width: 70px;}
 .write{
   padding: 5px;
text-align: left;
 }
 .dis{
   font-size: large;
 }
 a{
   color: lightsalmon;
   text-decoration: none;
 }
 .bot{
   float: right;
   border-radius: 20px;
   width: 120px;
   border: none;
   background: lightsalmon;
   height:25px;
   
 }
 .pro{
   padding: 15px;
   font-size: large;
 }